[submodule "order-service"]
	path = order-service
	url = https://github.com/shalindasuresh/grocery-order-service
[submodule "customer-service"]
	path = customer-service
	url = https://github.com/shalindasuresh/grocery-customer-service
[submodule "config-server"]
	path = config-server
	url = https://github.com/shalindasuresh/grocery-config-server
[submodule "grocery-product-service"]
	path = grocery-product-service
	url = https://github.com/shalindasuresh/grocery-product-service
[submodule "product-service"]
	path = product-service
	url = https://github.com/shalindasuresh/grocery-product-service
[submodule "service-discovery"]
	path = service-discovery
	url = https://github.com/shalindasuresh/service-discovery
